.search-results-component {
  display: flex;
  justify-content: center;
}

.search-results-box {
  width: 975px;
}

.search-result-item-component{
  margin: 10px;

  display: flex;
}

.search-result-image {
  width: 145px;
  height: 145px;
}

.result-headings {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.result-type {
  margin-bottom: 5px;
  font-size: 10px;
  color: #999;

}

.result-title {
  color: #0687f5;
}

.result-subtitle {
  font-size: 12px;
  color: #595959;
}

.search-result-item-border {
  height: 1px;
  border-bottom: 1px dotted gray;
}
