.discover-bar-div {
  width: 100%;
  background: rgb(66, 160, 189);

  display: flex;
  justify-content: center;
}

.discover-bar-genre-list {
  height: 40px;
  width: 1000px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.discover-genre-name {
  padding: 6px 10px;
  border-radius: 15px;
  color: white;

  font-size: 14px;

  transition: 0.5s;
}


.discover-genre-name:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.5)
}

.discover-genre-name.selected {
  background: rgba(0,0,0,0.8)
}

.discover-genre-name.selected:hover {
  background: rgba(0,0,0,0.8)
}

.one {
  background: rgb(66, 160, 189);
}

.two {
  background: rgb(213, 31, 38);
}

.three {
  background: rgb(230, 87, 25);
}

.four {
  background: rgb(53, 100, 161);
}

.five {
  background: rgb(49, 200, 35);
}

.six {
  background: rgb(243, 12, 147);
}

.seven {
  background: rgb(233, 73, 73);
}

.eight {
  background: rgb(153, 74, 181);
}

.nine {
  background: rgb(163, 194, 189);
}
