.discover-bar-index-div {
  height: 40px;
  width: 1000px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.discover-bar-index-outer-div {
  width: 100%;
  background: rgb(66, 160, 189);

  display: flex;
  justify-content: center;
}

.discover-genre-name {
  padding: 6px 10px;
  border-radius: 15px;
  color: white;

  font-size: 14px;

  transition: 0.5s;
}

.discover-genre-name:hover {
  background: rgba(0,0,0,0.5)
}
