.media-player-component {
  /*border: 1px solid gray;*/
  margin-top: 25px;

  display: flex;

}

.title-and-progress {
  width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-with-duration {
  display: flex;
  justify-content: space-between;
}

.t-and-d {
  display: flex;
  justify-content: space-between;
}

.t-and-d-title {
  margin-left: 10px;

  font-size: 12px;
  font-weight: bold;
}

.t-and-d-duration {
  font-size: 11px;
}

.play-pause > i {
  width: 15px;
  padding: 15px 17px 15px 17px;
  border: 1px solid #D9D9D9;

  font-size: 20px;

  background-color: #fff;
  border: 1px solid #d9d9d9;
}


.volume-range {
  width: 60px;
  height: 25px;
  margin: 0;
  transform-origin: 176px -150px;
  transform: rotate(-90deg);
}
