.followed-band-image {
  width: 70px;
  height: 70px;
  margin: 5px;
}

.followed-band-li {
  width: 250px;
  margin: 5px;

  display: flex;
}

.followed-band-location {
  font-size: 12px;
  font-weight: lighter;
  color: #828282;
}

.followed-band-name {
  font-size: 14px;
  font-weight: bold;
}

.followed-band-text {
  display: flex;
  flex-direction: column;
}

.followed-bands-index {
  width: 75%;

  display: flex;
  justify-content:space-around;
}
