.album-component {
  border: 1px solid green;
  height: 2000px;
  width: 975px;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
}

.album-page-left {
  border: 1px solid blue;

  width: 375px;
}

.album-and-band-name > h1 {
  font-size: 23px;
}

.album-and-band-name > h2 {
  font-size: 14px;
}


.album-page-mid {
  border: 1px solid red;
}

.current-album-cover {
  height: 350px;
  width: 350px;
}


.album-page-right {
  border: 1px solid pink;

  width: 120px;
}

/*.band-bio-image {
  width: 120px;
  height: 133px;
}

.band-name-and-location > h2 {
  font-size: 12px;

}
.band-name-and-location > h3 {
  font-size: 12px;
}*/
