.album-show-component {
  background-color: #E7E7E7;
}

.album-show-box {
  border: 1px solid green;
  width: 975px;
  margin: 0 auto;
  margin-bottom: 30px;

  background-color: #F7F7F7;

  display: flex;
  justify-content: space-around;
}

.album-page-left {
  border: 1px solid blue;

  width: 375px;
  margin-top: 30px;
}

.album-and-band-name > h1 {
  font-size: 23px;
  font-weight: 700; 
}

.album-and-band-name > h2 {
  font-size: 14px;
}

.album-description {
  font-size: 11px;
}


.album-page-mid {
  border: 1px solid red;

  margin-top: 30px;
}

.current-album-cover {
  height: 350px;
  width: 350px;
}


.album-page-right {
  border: 1px solid pink;

  width: 120px;
}
