.band-bio-component {
  width: 120px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.band-bio-image {
  width: 120px;
  height: 133px;
  margin-bottom: 5px;
}

.band-name-and-location > h2 {
  font-size: 12px;
  font-weight: 700px;
}
.band-name-and-location > h3 {
  margin-top: 0;
  margin-bottom: 5px;

  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.mini-bio {
  font-weight: 400;
}

.mini-bio-band-name {
  font-size: 12px;
  font-weight: bold;
}

.band-location {
  color: #666666;
}

#band-location {
  font-size: 10px;
}

.follow-unfollow {
  width: 120px;
  height: 25px;
  border: 1px solid #666666;
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #802830;
}

.mini-bio {
  font-size: 12px;
  color: black;
}
