.band-show-component {
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.band-name-header {
  margin-top: 25px;
  margin-bottom: 25px;

  font-size: 35px;
  font-family: 'Bowlby One SC';
}

.album-index-and-band-bio {
  background-color: #F7F7F7;

  width: 975px;
  margin-bottom: 30px; 
  display: flex;
  justify-content: space-around;
}
