.band-bio-component {
  border: 1px solid pink;
  background-color: pink;

  width: 120px;
  margin-top: 30px;
}

.band-bio-image {
  width: 120px;
  height: 133px;
}

.band-name-and-location > h2 {
  font-size: 12px;
  font-weight: 700px;
}
.band-name-and-location > h3 {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;:
}

.mini-bio {
  font-weight: 300;
}

.mini-bio-band-name {
  font-size: 12px;
  font-weight: 700;
}

.band-location {
  font-size: 10px;
}

.mini-bio {
  font-size: 11px;
}
