.login-component {
  display: flex;
  flex-direction: column;
  align-content: center;

  background-color: #f3f3f3;
}


.login-navbar {
  height: 105px;
  width: 100%;

  background-color: #DDDDDD;

  display: flex;
  align-items: center;
}

.login-navbar > img {
  position: relative;
  left: 200px;

  height: 175px;
  width: 170px;
}

.login-container {
  width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container > h2 {
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.dividor {
  width: 350px;
  height: 1px;
  border-bottom: 1px dotted gray;
}

.login-form {
  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.login-form > input {
  width: 300px;
  margin: 0 auto;
  padding: 7px;

  background-color: white;
}



.login-button {
  width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;

  color: #fff;
  background-color: rgb(0,161,198);
  text-align: center;

  border-radius: 0px;
}

.no-account {
  font-size: 12px;
  color: #818285;
}

.inline-link {
  color: rgb(0,161,198);
}
