.login-component {
  display: flex;
  flex-direction: column;
  align-content: center;

  background-color: #f3f3f3;
}


.login-navbar {
  height: 105px;
  width: 100%;

  background-color: #DDDDDD;

  display: flex;
  align-items: center;
}


.login-logo {
  position: relative;
  left: 200px;

  height: 23px;
  width: 185px;
}

.login-container {
  width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container > h2 {
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 40px;
}

/*duplicate exists in signup.css*/
.dividor {
  width: 350px;
  height: 1px;
  border-bottom: 1px dotted gray;
}

.login-form {
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form > input {
  width: 300px;
  padding: 7px;
  margin: 0 auto;
  border: 1px solid #ccc;

  background-color: white;
}

.login-form > input:focus {
  border: 1px solid #50a1e6;
}

.login-button {
  width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;

  color: #fff;
  background-color: rgb(0,161,198);
  text-align: center;

  border-radius: 0px;
}

.no-account {
  font-size: 12px;
  color: #818285;
}

/*duplicate in signup.css*/
.inline-link {
  color: rgb(0,161,198);
}

/*duplicate in signup.css*/
.errors-item {
  color: red;
}
