.navbar {

  height: 105px;

  display: flex;
  justify-content: space-between;

  color: #408ea3;
  font-size: 14px;
}

.left-nav {
  display: flex;
  flex-direction: column;

  margin: 10px;

}

.right-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}

.temp-search-bar {
  border: 1px solid gray;
  border-radius: 3px;

  width: 250px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 12px;
}

.logo {
  width: 155px;
  height: 50px;
}

.session-links {
  display: flex;
  justify-content: flex-end;


  font-size: 14px;
  font-weight: 700;
}

.session-link {
  margin: 5px;
}

.session-link:hover {
  text-decoration: underline;
}
