/*.spotlight-component {

  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-spotlight {
  background-color: #BBCE6B;

  width: 70%;

}

.side-spotlight {

  border: 1px solid green;

}

.side-spotlight > img {
  border: 1px solid white;

  width: 300px;
  height: 225px;
}*/


.main-spotlight {
  width: 1065px;
  height: 600px;
  
  background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5) ),  url('https://s3-us-west-1.amazonaws.com/bandstandapp-dev/Site+Images/photo-1461360228754-6e81c478b882.jpeg');
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.spotlight-component {
  background-color: #222;

  display: flex;
  justify-content: center;

  color: white;
}

.spotlight-main-button {
  padding: 4px 10px 4px 10px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 30px;
}

.spotlight-overlayed-text {
  font-size: 33px;
  font-weight: bold;
  margin: 30px;
}

