.song-index-item-component {
  margin: 5px;

  color: #802830;
  font-size: 12px;
}

.song-index-item {
  font-weight: normal;
}

.song-index-item-playing {
  font-weight: bold;
}

.song-index-item:hover {
  text-decoration: underline;
}
